<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
	[%load_template file:'headers/includes/head.template.html'/%]
	<link rel="preload" href="[%ntheme_asset%]css/app.css[%/ntheme_asset%]" as="style">
	<link rel="preload" href="[%ntheme_asset%]css/style.css[%/ntheme_asset%]" as="style">
	<link class="theme-selector" rel="stylesheet" href="[%ntheme_asset%]css/app.css[%/ntheme_asset%]" media="all"/>
	<link rel="stylesheet" href="[%ntheme_asset%]css/style.css[%/ntheme_asset%]" media="all"/>
</head>

<body id="n_[@config:current_page_type@]" class="n_[@CONFIG:TEMPLATELANG@]">
    <!-- Header Announcement -->
[%set [@header_announcement@]%][%content_zone id:'header_announcement'%][%/content_zone%][%/set%]
[%if [@header_announcement@] ne ''%]
    <div class="bg-light text-center py-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <strong>[%format type:'text' rmhtml:'0'%][@header_announcement@][%/format%]</strong>
                </div>
            </div>
        </div>
    </div>
[%/if%]
<a href="#main-content" class="sr-only sr-only-focusable">Skip to main content</a>

<header class="mb-lg-3">
	[%cache type:'menu' id:'header-content-menu'%]
		[%menu id:'web_header'%]
			[%param header%]
				<section class="header-topbar d-none d-md-block">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<nav class="navbar navbar-default navbar-small navbar-expand-md p-0 text-center" role="navigation" aria-label="Main Menu">
									<div class="collapse navbar-collapse navbar-responsive-collapse">
										<ul class="navbar-nav justify-content-center">
			[%/ param%]
			[%param *level_1%]
											<li class="[%if [@next_level@]%]dropdown dropdown-hover [%/if%] [%if [@css_class@]%] [@css_class@][%/if%]">
												<a href="[@url@]" class="nav-link [%if [@next_level@]%] dropdown-toggle[%/if%]">[@name@]</a>
												[%if [@next_level@]%]
													<ul class="dropdown-menu mt-0">
														[@next_level@]
													</ul>
												[%/if%]
											</li>
			[%/param%]
			[%param *level_2%]
											<li class="[%if [@next_level@]%]dropdown dropdown-hover [%/if%] [%if [@css_class@]%] [@css_class@][%/if%]">
												<a href="[@url@]" class="nuhover dropdown-item small">[@name@]</a>
												[%if [@next_level@]%]
													<ul class="dropdown-menu dropdown-menu-horizontal">
														[@next_level@]
													</ul>
												[%/if%]
											</li>
			[%/param%]
			[%param *level_3%]
											<li class="[%if [@css_class@]%] [@css_class@][%/if%]">
												<a class="dropdown-item small" href="[@url@]">[@name@]</a>
											</li>
			[%/param%]
			[%param footer%]
										</ul>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</section>
			[%/ param%]
		[%/menu%]
	[%/ cache%]
	<section class="container py-3" aria-label="Header container">
		<div class="row align-items-center">
			<div class="d-none d-lg-block col-lg-4">
				<div class="header-search pt-2 pt-md-0">
					<form name="productsearch" method="get" action="/" role="search" aria-label="Product search">
						<input type="hidden" name="rf" value="kw"/>
						<div class="input-group">
							<div class="input-group-prepend">
								<button type="submit" value="Search" class="btn btn-header" aria-label="Search site"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
							<input class="form-control ajax_search border-0 pl-0" value="[%nohtml%][%filter ID:'keywords'%][%/filter%][%/nohtml%]" id="name_search" autocomplete="off" name="kw" type="search" aria-label="Input search" placeholder="Search all products..."/>
						</div>
					</form>
				</div>
			</div>
			<div class="d-block d-lg-none col-3">
				<button class="navbar-toggler btn btn-header" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars fa-lg" aria-hidden="true"></i>
				</button>
			</div>
			<div class="col-6 col-sm-6 col-lg-4 wrapper-logo text-center">
				<a href="[@config:home_url@]" title="[@config:company_name@]">
					<img class="logo" src="[@config:imageurl@]/website_logo.png?[@config:neto_css_version@]" alt="[@config:company_name@] logo"/>
				</a>
			</div>
			<div class="d-block d-lg-none col-3 text-right">
				<a class="navbar-toggler btn btn-header" href="[%url page:'checkout' type:'cart'/%]" aria-label="Shopping cart">
					<i class="fa fa-shopping-cart fa-lg pl-0" aria-hidden="true"></i>
					<span class="cart-count" rel="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%/CART%][%/format%]</span>
				</a>
			</div>
			<div class="d-none d-lg-flex col-lg-4 justify-content-end">
				<a href="[%url page:'account'/%]" role="button" class="btn btn-header" aria-label="Account"><i class="fa fa-user mr-1"></i> <span class="d-none d-lg-inline">My </span> Account</a>
				<div id="header-cart">
					<button type="button" class="btn btn-header dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Shopping cart dropdown">
						<i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i> Cart - <span rel="a2c_item_count" class="cart-count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%/CART%][%/format%]</span> items
					</button>
					<ul id="cartdropdown" class="dropdown-menu dropdown-menu-right float-right">
						<li class="box" id="neto-dropdown">
							<div class="body" id="cartcontents"></div>
							<div class="footer"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="header-menu">
		<nav class="container navbar navbar-expand-md py-0">
			<div class="collapse navbar-collapse" id="navbarMainMenu">
				<div class="header-search d-block d-md-none mb-2">
					<form name="productsearch" method="get" action="/" role="search" aria-label="Product search">
						<input type="hidden" name="rf" value="kw"/>
						<div class="input-group">
							<div class="input-group-prepend">
								<button type="submit" value="Search" class="btn btn-dark" aria-label="Search site"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
							<input class="form-control ajax_search" value="[%nohtml%][%filter ID:'keywords'%][%/filter%][%/nohtml%]" id="name_search" autocomplete="off" name="kw" type="search" aria-label="Input search" placeholder="Search all products..."/>
						</div>
					</form>
				</div>

				[%cache type:'menu' id:'desktop_category_menu' ttl:'86400'%]
					[%content_menu content_type:'category' sortby:'sortorder,name' show_empty:'1'%]
						[%param *header%]
							<ul class="lvl1 navbar-desktop navbar-nav navbar-default flex-wrap d-none d-lg-flex justify-content-center" role="navigation" aria-label="Main menu">
						[%/param%]
						[%param *level_1%]
							[%if [@next_level@]%]
								<li class="nav-item dropdown dropdown-hover">
									<a href="[@url@]" class="nav-link dropdown-toggle">[@name@]</a>
									<ul class="lvl2 dropdown-menu mt-0">
										[@next_level@]
									</ul>
								</li>
							[%else%]
								<li class="nav-item">
									<a href="[@url@]" class="nav-link">[@name@]</a>
								</li>
							[%/if%]
						[%/param%]
						[%param *level_2%]
							[%if [@next_level@]%]
								<li class="dropdown dropdown-hover"> 
									<a href="[@url@]" class="nuhover dropdown-item">[@name@]</a>
									<ul class="lvl3 dropdown-menu dropdown-menu-horizontal">
										[@next_level@]
									</ul>
								</li>
							[%else%]
								<li> 
									<a href="[@url@]" class="nuhover dropdown-item">[@name@]</a>
								</li>
							[%/if%]
						[%/param%]
						[%param *level_3%]
							<li>
								<a class="dropdown-item pl-5 pl-sm-4" href="[@url@]">[@name@]</a>
							</li>
						[%/param%]
						[%param *footer%]
							</ul>
						[%/param%]
					[%/content_menu%]
				[%/cache%]

				[%cache type:'menu' id:'mobile_category_menu'%]
					[%content_menu content_type:'category' sortby:'sortorder,name' show_empty:'1'%]
						[%param *header%]
							<ul class="lvl1 navbar-mobile navbar-nav navbar-default flex-wrap d-md-none" role="navigation" aria-label="Main menu">
						[%/param%]
						[%param *level_1%]
							[%if [@next_level@]%]
								<li class="nav-item">
									<a data-toggle="collapse" href="#mobMenu[@id@]" class="collapsed nav-link" role="button" aria-expanded="false" aria-controls="mobMenu[@id@]">[@name@]</a>
									<ul id="mobMenu[@id@]" class="lvl2 collapse list-unstyled">
										[@next_level@]
									</ul>
								</li>
							[%else%]
								<li class="nav-item">
									<a href="[@url@]" class="nav-link">[@name@]</a>
								</li>
							[%/if%]
						[%end param%]
						[%param *level_2%]
							[%if [@next_level@]%]
								<li class="nav-item">
									<a data-toggle="collapse" data-parent="#mobMenu[@parent_content_id@]" href="#mobMenu[@id@]" class="collapsed nav-link">[@name@]</a>
									<ul id="mobMenu[@id@]" class="lvl3 collapse list-unstyled">
										[@next_level@]
									</ul>
								</li>
							[%else%]
								<li class="nav-item">
									<a href="[@url@]" class="nav-link">[@name@]</a>
								</li>
							[%/if%]
						[%end param%]
						[%param *level_3%]
							<li class="nav-item">
								<a href="[@url@]" class="nav-link">[@name@]</a>
							</li>
						[%end param%]
						[%param *footer%]
							</ul>
						[%/param%]
					[%/content_menu%]
				[%end cache%]
			</div>
		</nav>
	</section>
</header>
<div id="main-content" class="container" role="main">
	<div class="row">
